Checks: '-*,clang-analyzer-*,google-*,modernize-*,misc-*,performance-*,portability-*,readability-*,-google-runtime-references,-readability-implicit-bool-conversion,readability-identifier-naming'
CheckOptions:
  - {key: readability-identifier-naming.NamespaceCase, value: lower_case}
  - {key: readability-identifier-naming.InlineNamespaceCase, value: lower_case}
  - {key: readability-identifier-naming.EnumConstantCase, value: UPPER_CASE}
  - {key: readability-identifier-naming.ConstexprVariableCase, value: CamelCase}
  - {key: readability-identifier-naming.ConstexprVariablePrefix, value: 'k'}
  - {key: readability-identifier-naming.ConstantMemberCase, value: CamelCase}
  - {key: readability-identifier-naming.ConstantMemberPrefix, value: 'k'}
  - {key: readability-identifier-naming.MemberCase, value: lower_case}
  - {key: readability-identifier-naming.MemberSuffix, value: '_'}
  - {key: readability-identifier-naming.ClassConstantCase, value: CamelCase}
  - {key: readability-identifier-naming.ClassConstantPrefix, value: 'k'}
  - {key: readability-identifier-naming.ClassMemberCase, value: lower_case}
  - {key: readability-identifier-naming.ClassMemberSuffix, value: '_'}
  - {key: readability-identifier-naming.GlobalConstantCase, value: CamelCase}
  - {key: readability-identifier-naming.GlobalConstantPrefix, value: 'k'}
  - {key: readability-identifier-naming.GlobalVariableCase, value: lower_case}
  - {key: readability-identifier-naming.LocalConstantCase, value: lower_case}
  - {key: readability-identifier-naming.LocalConstantPrefix, value: ''}
  - {key: readability-identifier-naming.LocalVariableCase, value: lower_case}
  - {key: readability-identifier-naming.StaticConstantCase, value: CamelCase}
  - {key: readability-identifier-naming.StaticConstantPrefix, value: 'k'}
  - {key: readability-identifier-naming.StaticVariableCase, value: lower_case}
  - {key: readability-identifier-naming.StaticVariableSuffix, value: '_'}
  - {key: readability-identifier-naming.ConstantCase, value: CamelCase}
  - {key: readability-identifier-naming.ConstantPrefix, value: 'k'}
  - {key: readability-identifier-naming.VariableCase, value: lower_case}
  - {key: readability-identifier-naming.ConstantParameterCase, value: lower_case}
  - {key: readability-identifier-naming.ConstantParameterPrefix, value: ''}
  - {key: readability-identifier-naming.ParameterPackCase, value: lower_case}
  - {key: readability-identifier-naming.ParameterPackPrefix, value: ''}
  - {key: readability-identifier-naming.ParameterCase, value: lower_case}
  - {key: readability-identifier-naming.AbstractClassCase, value: CamelCase}
  - {key: readability-identifier-naming.StructCase, value: CamelCase}
  - {key: readability-identifier-naming.ClassCase, value: CamelCase}
  - {key: readability-identifier-naming.UnionCase, value: CamelCase}
  - {key: readability-identifier-naming.EnumCase, value: CamelCase}
  - {key: readability-identifier-naming.GlobalFunctionCase, value: CamelCase}
  - {key: readability-identifier-naming.ConstexprFunctionCase, value: CamelCase}
  - {key: readability-identifier-naming.FunctionCase, value: CamelCase}
  - {key: readability-identifier-naming.ConstexprMethodCase, value: CamelCase}
  - {key: readability-identifier-naming.VirtualMethodCase, value: CamelCase}
  - {key: readability-identifier-naming.ClassMethodCase, value: CamelCase}
  - {key: readability-identifier-naming.PrivateMethodCase, value: CamelCase}
  - {key: readability-identifier-naming.ProtectedMethodCase, value: CamelCase}
  - {key: readability-identifier-naming.PublicMethodCase, value: CamelCase}
  - {key: readability-identifier-naming.MethodCase, value: CamelCase}
  - {key: readability-identifier-naming.TypedefCase, value: CamelCase}
  - {key: readability-identifier-naming.TypeTemplateParameterCase, value: UPPER_CASE}
  - {key: readability-identifier-naming.ValueTemplateParameterCase, value: UPPER_CASE}
  - {key: readability-identifier-naming.TemplateTemplateParameterCase, value: UPPER_CASE}
  - {key: readability-identifier-naming.TemplateParameterCase, value: UPPER_CASE}
  - {key: readability-identifier-naming.TypeAliasCase, value: CamelCase}
